.back-image {
  height: 200px;
  .cart {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/apple.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .heading {
      height: inherit;
      h1 {
        top: 5.7%;
        left: 1%;
        width: 98%;
        position: relative;
        text-align: center;
        background-color: rgba(43, 42, 42, 0.7);
        color: #ffffff;
        line-height: 2.3;
        padding: 34px;
        font-size: 3em;
        margin: 0px;
      }
    }
  }
}

.card-body,
.card-footer{
    margin: 0;
    padding: 0;
}

.card {
  text-align: center;
  margin: 5px;
  margin-top: 15px;
  max-height: 373px;
  position: relative;
  .card-product {
    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-size: 17px;
    font-weight: 600;
    color: #696565;
  }
  .card-img-top {
    height: 210px;
  }
  .card-price {
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
    color: #000;
    position: relative;
    bottom: 0;
  }
  .btn {
    width: 100%;
    height: 38px;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }
}
