<div class="back-image">
  <div class="cart">
    <div class="heading">
      <h1 class="text-center">WOMEN</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="https://img.webnots.com/2017/04/Bootstrap-Card-Image.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-product">
            <a>HP Notebook 14 Core i5 8GB 750GB</a>
          </h4>
          <p class="card-price">Rs. 50,000/-</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-dark">ADD TO CART</button>
        </div>
      </div>
    </div>
  </div>
</div>
