.top-bar {
  width: 100%;
  height: 30px;
  background-color: rgba(68, 68, 68, 1);
  color: white;
  position: absolute;
  .tbar-heading {
    float: left;
    margin-left: 5em;
    position: relative;
    line-height: 2;
  }
}

.mid-bar {
  width: 100%;
  height: 7em;
  background-color: rgba(255, 255, 255, 1);
  img {
    width: 235px;
    position: relative;
    top: 38px;
    left: 96px;
  }
}

.form input {
  top: 3em;
  margin: auto;
  left: -140px;
  height: 2em;
  width: 20em;
  position: relative;
}

.bottom-bar {
  width: 100%;
  height: 45px;
  background-color: rgba(68, 68, 68, 1);
}

.tbar-menu {
  ul {
    text-decoration: none;
    list-style: none;
    float: right;
    right: 5em;
    position: relative;
  }
  li {
    float: left;
  }
  li a {
    color: rgba(235, 235, 235, 1);
    font-size: 0.8em;
    display: inline-block;
    padding: 0.5em;
  }
}

.main-menu {
  ul {
    text-align: center;
    text-decoration: none;
    list-style: none;
    position: relative;
  }
  li {
    float: left;
  }
  li a {
    color: rgba(255, 255, 255, 1);
    font-size: 1em;
    display: block;
    padding: 0.9em;
    margin-right: 1em;
  }
}

.nav-tabs {
  a:active {
    color: #7f7f7f;
  }
}

.cart-align {
  font-size: 2em;
  float: right;
  right: 6em;
  position: relative;
  h6 {
    display: inline-block;
  }
}

.navbar-toggler-icon{
  height: 1.2em;
  width: 1.2em;
}