<div class="nav">
  <div class="top-bar">
    <div class="tbar-menu">
      <h6 class="tbar-heading">
        <strong>Welcome To Ideal Bazar Collection</strong>
      </h6>
      <ul>
        <li>
          <a routerLink="/account" *ngIf="auth.loggedIn">Account ({{auth.currentUser.username}})</a>
        </li>
        <li>
          <a routerLink="/cart">Cart</a>
        </li>
        <li>
          <a routerLink="/login" *ngIf="!auth.loggedIn">Login</a>
        </li>
        <li>
          <a routerLink="/register" *ngIf="!auth.loggedIn">Register</a>
        </li>
        <li>
          <a routerLink="/admin" *ngIf="auth.loggedIn && auth.isAdmin">Admin</a>
        </li>
        <li>
          <a routerLink="/logout" *ngIf="auth.loggedIn">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="mid-bar">
    <div class="form">
      <span class="pull-left">
        <img class="img-responsive" src="../../assets/images/ideal.png">
      </span>
      <input type="search-md" class="form-control" placeholder="Search Entire Store Here">
    </div>

    <div class="cart-align">
      <a>
        <i class="fa fa-shopping-cart fa-lg"></i>
        <h6 class="">
          <strong>{{cartProducts.length}} Items</strong> - Rs.4,500/-</h6>
      </a>

    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center mx-auto">
      <li class="nav-item ">
        <a class="nav-link" href="" routerLink="/">HOME
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" routerLink="/men">MEN</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="" routerLink="/women">WOMEN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" routerLink="/">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" routerLink="/faq">FAQs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" routerLink="/contact">CONTACT US</a>
      </li>

    </ul>
  </div>
</nav>
