.back-image {
  height: 200px;
  .contact {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/apple.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .heading {
      height: inherit;
      h1 {
        top: 5.7%;
        left: 1%;
        width: 98%;
        position: relative;
        text-align: center;
        background-color: rgba(43, 42, 42, 0.7);
        color: #ffffff;
        line-height: 2.3;
        padding: 34px;
        font-size: 3em;
        margin: 0px;
      }
    }
  }
}

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	background: #FFFFFF;
	color: #1e1e27;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	font-weight: 500;
	color: #51545f;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 2px #fde0db;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FF6347;
	background: #fde0db;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #fde0db;
	color: #FF6347;
}
p::selection
{
	background: #fde0db;
}
h1{font-size: 72px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 16px;}
h6{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Poppins', sans-serif;
	color: #282828;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
{

}
::-webkit-input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
:-moz-placeholder /* older Firefox*/
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
::-moz-placeholder /* Firefox 19+ */
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
:-ms-input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
::input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #777777 !important;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}

/*********************************
5. Google Map
*********************************/
.container{
    margin-left: auto;
    margin-right: auto;
}
.contact_container {
  margin-top: 50px;
  padding-bottom: 80px;
  border-bottom: solid 1px #ebebeb;
}

#google_map {
  width: 100%;
  height: 507px;
  margin-bottom: 59px;
}

.map_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0px 27px 59px rgba(0, 0, 0, 0.15);
}

agm-map {
  width: 100%;
  height: calc(100% + 30px);
}


/*********************************
6. Contact Us
*********************************/

.contact_contents {
  padding-right: 30px;
}

.contact_contents h1,
.follow_us_contents h1,
.get_in_touch_contents h1 {
  font-size: 40px;
  font-weight: 500;
}

.contact_contents p,
.get_in_touch_contents p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}

.contact_contents div {
  margin-top: 22px;
}

.contact_contents div:first-of-type {
  margin-top: 39px;
}


/*********************************
7. Follow Us
*********************************/

.follow_us_contents {
  margin-top: 32px;
  ul{
      display: -webkit-inline-flex;
  }
}

.social {
  margin-top: 20px;
}

.social li {
  margin-right: 12px;
}

.social li:last-child {
  margin-right: 0px;
}

.social li a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.social li a i {
  color: #FFFFFF;
}

.social li:hover a {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}


/*********************************
8. Contact Form
*********************************/

.form_input {
  display: block;
  width: 100%;
  height: 50px;
  border: solid 1px #e5e5e5;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 20px;
}

.input_message {
  width: 104%;
  margin-bottom: 15px;
  font-size: 16px;
  padding-bottom: 15px;
  height: 100%;
  max-height: 300px;
  min-height: 100px;
}

.form_input:focus,
#newsletter_email:focus {
  border: solid 1px #7f7f7f !important;
  box-shadow: none !important;
}

.message_submit_btn {
  background: #1e1e27;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 165px;
  border: none;
  height: 46px;
  cursor: pointer;
}

.message_submit_btn:hover {
  background: #2b2b34 !important;
}

:focus {
  outline: none !important;
}

.input_ph::-webkit-input-placeholder {
  font-size: 16px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}

.input_ph:-moz-placeholder
/* older Firefox*/

{
  font-size: 16px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}

.input_ph::-moz-placeholder
/* Firefox 19+ */

{
  font-size: 16px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}

.input_ph:-ms-input-placeholder {
  font-size: 16px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}

.input_ph::input-placeholder {
  font-size: 16px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}

textarea {
  border: solid 1px #e5e5e5;
  padding-left: 20px;
  padding-top: 15px;
}

textarea:hover {
  border-color: #7f7f7f !important;
}

.input_name {
  margin-bottom: 19px;
  margin-top: 31px;
}

.input_review {
  display: block;
  width: 100%;
  border: solid 1px #e5e5e5;
  margin-top: 23px;
  padding-left: 20px;
  padding-top: 13px;
}

.user_star_rating {
  display: inline-block;
  margin-left: 18px;
}

.user_star_rating li {
  display: inline-block;
  margin-right: -3px;
  cursor: pointer;
}

.user_star_rating li i {
  color: #f5c136;
  font-size: 18px;
}

.review_submit_btn {
  width: 170px;
  border: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}


/*********************************
9. Newsletter
*********************************/

.newsletter {
  width: 100%;
  background: #f2f2f2;
  margin-top: 81px;
}

.newsletter_text {
  height: 120px;
}

.newsletter_text h4 {
  margin-bottom: 0px;
  line-height: 24px;
}

.newsletter_text p {
  margin-bottom: 0px;
  line-height: 1.7;
  color: #51545f;
}

.newsletter_form {
  height: 120px;
}

#newsletter_email {
  width: 300px;
  height: 46px;
  background: #FFFFFF;
  border: none;
  font-size: 14px;
  padding-left: 20px;
}

::-webkit-input-placeholder {
  font-size: 14px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}

:-moz-placeholder
/* older Firefox*/

{
  font-size: 14px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}

::-moz-placeholder
/* Firefox 19+ */

{
  font-size: 14px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}

:-ms-input-placeholder {
  font-size: 14px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}

::input-placeholder {
  font-size: 14px !important;
  font-weight: 400;
  color: #b9b4c7 !important;
}

.newsletter_submit_btn {
  width: 160px;
  height: 46px;
  border: none;
  background: #fe4c50;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.newsletter_submit_btn:hover {
  background: #FE7C7F;
}


/******************************/


@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1540px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.single_product_thumbnails ul li
	{
		height: 110px;
	}
	.single_product_image
	{
		height: 436px;
	}
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	h1{font-size: 48px;}
	h2{font-size: 36px;}
	.top_nav
	{
		display: none;
	}
	.navbar_menu
	{
		display: none;
	}
	.hamburger_container
	{
		display: block;
	}
	.contact_container
	{
		margin-top: 100px;
	}
	.main_content
	{
		float: none;
		width: 100%;
		padding-left: 0px;
	}
	.reviews_col
	{
		padding-right: 15px;
	}
	.get_in_touch_col
	{
		margin-top: 40px;
	}
	.newsletter_text
	{
		height: auto;
		margin-top: 30px;
	}
	.newsletter_text p
	{
		margin-top: 5px;
	}
	.newsletter_form
	{
		height: auto;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.footer_nav_container
	{
		height: auto;
		margin-top: 65px;
	}
	.footer_social
	{
		height: auto;
		margin-top: 20px;
		margin-bottom: 65px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	h1{font-size: 36px;}
	h2{font-size: 24px;}
	h6{font-size: 12px;}
	.red_button a
	{
		font-size: 12px;
	}
	.newsletter_form
	{
		margin-bottom: 40px;
	}
	.newsletter_submit_btn
	{
		margin-top: 15px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
	}
	.hamburger_menu
	{
		right: -100%;
		width: 100%;
	}
	.single_product_image
	{
		height: calc((100vw - 30px) / 0.86);
	}
	.single_product_thumbnails ul li
	{
		width: 80px;
		height: 80px;
	}
	.single_product_thumbnails ul li img
	{
		height: auto;
		width: 100%;
	}
	.breadcrumbs ul li
	{
		margin-right: 10px;
	}
	.breadcrumbs ul li a
	{
		font-size: 13px;
	}
	.breadcrumbs ul li i
	{
		margin-right: 12px;
	}
	#google_map
	{
		height: 60vh;
	}
	.map_container
	{
		box-shadow: 0px 15px 39px rgba(0, 0, 0, 0.15);
	}
	.contact_contents h1, .follow_us_contents h1, .get_in_touch_contents h1
	{
		font-size: 24px;
	}
	.contact_contents p, .get_in_touch_contents p
	{
		font-size: 13px;
	}
	.contact_contents div:first-of-type
	{
		margin-top: 32px;
	}
	.contact_contents div
	{
		margin-top: 13px;
	}
	.form_input
	{
		font-size: 14px;
		margin-bottom: 15px;
		padding-left: 15px;
	}
	.input_message
	{
		font-size: 14px;
		padding-left: 15px;
	}
	.message_submit_btn
	{
		font-size: 12px;
		width: 145px;
	}
	.social
	{
		margin-top: 12px;
	}
	.input_ph::-webkit-input-placeholder
	{
		font-size: 14px !important;
	}
	.input_ph:-moz-placeholder /* older Firefox*/
	{
		font-size: 14px !important;
	}
	.input_ph::-moz-placeholder /* Firefox 19+ */ 
	{
		font-size: 14px !important;
	} 
	.input_ph:-ms-input-placeholder
	{ 
		font-size: 14px !important;
	}
	.input_ph::input-placeholder
	{
		font-size: 14px !important;
	}
	.cr
	{
		display: block;
		margin-right: 0px;
		margin-bottom: 30px;
		font-size: 13px;
	}
	.footer_nav
	{
		margin-bottom: 20px;
	}
	.footer_nav li
	{
		display: block;
		margin-right: 0px;
	}
	.footer_nav li a
	{
		font-size: 13px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	.logo_container a
	{
		font-size: 12px;
	}
	.hamburger_container
	{
		margin-left: 25px;
	}
	.hamburger_container i
	{
		font-size: 16px;
	}
	.hamburger_close
	{
		top: 14px;
		right: 4px;
	}
	.hamburger_close i
	{
		font-size: 20px;
	}
	.hamburger_menu_content
	{
		padding-right: 15px;
		padding-top: 70px;
	}
	.menu_item
	{
		border-bottom-color: rgba(181, 174, 196, 0.5);
	}
	.menu_item > a
	{
		font-size: 12px;
		line-height: 35px;
		height: 35px;
	}
	.menu_selection li a
	{
		font-size: 12px;
		line-height: 35px;
		height: 35px;
	}
	.navbar
	{
		height: 70px;
	}
	.navbar_user li a
	{
		width: 30px;
		height: 30px;
		font-size: 12px;
	}
	.checkout_items
	{
		width: 15px;
		height: 15px;
		font-size: 10px;		
	}
	.red_button a
	{
		font-size: 10px;
	}
	.section_title::after
	{
	    top: calc(100% + 8px);
	    height: 3px;
	}
	.newsletter_form
	{
		margin-top: 22px;
	}
	.newsletter_text h4
	{
		font-size: 20px;
	}
	.newsletter_text p
	{
		font-size: 13px;
		margin-top: 5px;
	}
	.newsletter_submit_btn
	{
		font-size: 12px;
	}
	#newsletter_email
	{
		height: 40px;
		width: 100%;
		padding-left: 15px;
	}
	.newsletter_submit_btn
	{
		height: 36px;
		width: 130px;
	}
	#newsletter_email::-webkit-input-placeholder
	{
		font-size: 12px !important;
	}
	#newsletter_email:-moz-placeholder /* older Firefox*/
	{
		font-size: 12px !important;
	}
	#newsletter_email::-moz-placeholder /* Firefox 19+ */ 
	{
		font-size: 12px !important;
	} 
	#newsletter_email:-ms-input-placeholder
	{ 
		font-size: 12px !important;
	}
	#newsletter_email::input-placeholder
	{
		font-size: 12px !important;
	}
	.message_submit_btn
	{
		height: 36px;
	}
	.footer_nav_container
	{
		margin-top: 35px;
	}
	.cr
	{
		margin-bottom: 20px;
	}
	.footer_nav
	{
		margin-bottom: 20px;
	}
	.footer_social
	{
		margin-top: 5px;
		margin-bottom: 30px;
	}
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}