<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<!-- Add Product -->

<div class="container">
  <div class="row">
    <h1 class="text-center">Add Product</h1>
    <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
      <div class="col-sm-6">
        <input class="form-control" type="text" name="name" id="name" formControlName="name" placeholder="Product Name">
      </div>
      <div class="col-sm-6">
        <input class="form-control" type="text" name="description" id="description" formControlName="description" placeholder="Product Description">
      </div>
      <div class="col-sm-6">
        <input class="form-control" type="number" name="price" id="price" formControlName="price" placeholder="Product Price">
      </div>
      <div class="col-sm-6">
           <input class="form-control" type="file" name="image" (change)="onFileChange($event)" formControlName="image">
        </div>
      <div class="col-sm-6">
        <select class="form-control" name="category" id="category" formControlName="category" placeholder="Category">
          <option value="" selected disabled>Category</option>
          <option value="male">Male</option>
          <option value="female">Female</option>

        </select>
      </div>
      <div class="col-sm-6">
        <select class="form-control" name="type" id="type" formControlName="type" placeholder="Type">
          <option value="" selected disabled>Type</option>
          <option value="dresses">Dress</option>
          <option value="shoes">Shoes</option>
          <option value="watches">Watches</option>
        </select>
      </div>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-dark" [disabled]="!addProductForm.valid">Add Product</button>
      </div>
    </form>
  </div>
</div>

<!-- Product List -->

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Current Products ({{products.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Category</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="products.length === 0">
        <tr>
          <td colspan="4">There are no products in the DB. Add a new product above.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>{{product.category}}</td>
          <td>{{product.type}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(product)">
              <i class="fa fa-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteProduct(product)">
              <i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editProduct(product)" style="display:inline">
              <div class="form-group">
                <input class="form-control" type="text" name="name" [(ngModel)]="product.name" placeholder="Name" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="description" [(ngModel)]="product.description" placeholder="Description" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="number" name="product" [(ngModel)]="product.price" placeholder="Price" step="any" min="0"
                  required>
              </div>
              <!-- <div class="form-group">
                <input class="form-control" type="file" name="image" [(ngModel)]="product.image" placeholder="Image" required>
              </div> -->
              <div class="form-group">
                <select class="form-control" name="catergory" id="catergory" [(ngModel)]="product.category" placeholder="Category" required>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" name="type" id="type" [(ngModel)]="product.type" placeholder="Type" required>
                  <option value="dresses">Dress</option>
                  <option value="shoes">Shoes</option>
                  <option value="watches">Watches</option>
                </select>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-floppy-o"></i> Save</button>
            </form>

            <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
              <i class="fa fa-times"></i> Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
