<div class="back-image">
  <div class="faq">
    <div class="heading">
      <h1 class="text-center">F.A.Q.s</h1>
    </div>
  </div>
</div>

<div class="container">
  <br />
  <br />

  <div class="" id="accordion">
    <div class="faqHeader">Help and FAQS</div>
    <div class="card ">
      <div class="card-header">
        <h4 class="card-header">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. How do I Place an Order at <strong>Ideal Bazar</strong>?</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="card-block">
            Please Click Here to view video explaining how to order at <strong>Ideal Bazar</strong>. If this is complicated for you then you can also call us at 0304-111-0031 and a Customer Support Agent will assist you to place your Order.
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="card-header">
        <h4 class="card-header">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">2. How do I Pay for My Order?</a>
        </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse">
        <div class="card-block">
            We are providing COD (CASH ON DELIVERY) Service, BANK DEPOSIT, 2CHECKOUT . If you choose COD (for Pakistan Only) you just have to place an order online and wait for your order. We will send your Order Via Leopards Courier, BlueHost or DHL. and the person (Courier) who will deliver the package to your doorstep will collect Cash from you.
            We also Receive advance payment if you wish to pay via Bank Transfer & Easy Paisa Service, UBL Omny. Please give us a call or email us if you wish to make advance payment. 
          </div>
      </div>
    </div>
    <div class="card ">
      <div class="card-header">
        <h4 class="card-header">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">3. Can I Exchange or Return a Product Which I have Bought from <strong>Ideal Bazar</strong> ?</a>
        </h4>
      </div>
      <div id="collapseEleven" class="panel-collapse collapse">
        <div class="card-block">
            Yes. You can Exchange / Return your merchandise with in 7 days from the order date. Please Click Here  to read our exchange / Return Policy.
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="card-header">
        <h4 class="card-header">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">4. How Long It Will Take To Receive My Order at my Door Step?
            </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="card-block">
            Your order delivers to you with in 2 to 3 working days from the order date. Please Click Here to view complete Shipping Information.
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="card-header">
        <h4 class="card-header">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">5. Do You Charge Delivery Fee or Delivery Across Pakistan is Free?</a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="card-block">
            Please Click Here to view complete Delivery Information.
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="card-header">
        <h4 class="card-header">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">6. How do I Know <strong>Ideal Bazar</strong> Have Received My Order?</a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="card-block">
            Our ordering system will automatically send you an email confirmation that your order was successfully submitted. This Email will be Containing Complete Information about Your Order Like Billing, Products Details & Address you Entered etc. Please make sure that the email address you provide is correct. Upon processing, We will additionally Call you on the Cell Phone number you will provide in your Order Form to confirm your Order. Once your Order is Shipped you will again receive an email containing the Tracking Number of your Order.
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="card-header">
        <h4 class="card-header">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">7. I Got an Order Confirmation Call from <strong>Ideal Bazar</strong> Why is That?</a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse">
        <div class="card-block">
            We Call every Single Customer who have placed order on our website to verify his/her order. This help us to avoid any Fake orders and helps Customer to verify that we are sending correct Items to them. If for some Reason you were not able to receive call from us, please call us back at +92- 0341 111 0100 to confirm your Order.
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="card-header">
        <h4 class="card-header">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">8. I Got an Email that My Order is on Hold Why is That?
            </a>
        </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse">
        <div class="card-block">
            We Must have to Confirm Customer's Order on Phone Before Dispatching It. When a Customer do not Receive Call From us we put His/Her order on Hold. If Customer do not Receive our Call with in 3 Days from the Order date then His/Her Order get Cancelled Automatically.  
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="card-header">
        <h4 class="card-header">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">9. How Do I Use My Voucher Code at <strong>Ideal Bazar</strong>?</a>
        </h4>
      </div>
      <div id="collapseNine" class="panel-collapse collapse">
        <div class="card-block">
            At Check Out just Below the Product Details you can see a Section "Voucher Code". Just Paste your Code in This Section and Click "Apply". That's All, Your Voucher Code will be applied.   
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="card-header">
        <h4 class="card-header">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              10. Do You Offer International Shipping?</a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="card-block">
            We will contact you with a delivery quote which is calculated based on your destination and the size and weight of your order. 
        </div>
      </div>
    </div>
    <div class="card ">
      <div class="card-header">
        <h4 class="card-header">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Need More Help ?</a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse">
        <div class="card-block">
            Give us a Call at 0304-111-0031 ( Monday Thru Saturday 9:30 AM to 5:30 PM)
        </div>
      </div>
    </div>
  </div>
</div>
