<!-- <div class="top-footer">sdfsdf</div> -->
<!-- <div class="bottom-footer"></div> -->

<footer id="contact" class="footer action-lage p-top-80">
  <!--<div class="action-lage"></div>-->
  <div class="container-fluid">
    <div class="row">
      <div class="widget_area">
        <div class="col-md-3">
          <div class="widget_item widget_about">
            <h5 class="text-white">About Us</h5>
            <p class="m-top-30">Lorem ipsum dolor sit amet consec tetur adipiscing elit nulla aliquet pretium nisi in cursus maecenas nec eleifen.</p>
            <div class="widget_ab_item m-top-30">
              <div class="item_icon">
                <i class="fa fa-location-arrow"></i>
              </div>
              <div class="widget_ab_item_text">
                <h6 class="text-white">Location</h6>
                <p>
                  123 suscipit ipsum nam auctor mauris dui, ac sollicitudin mauris, Bandung
                </p>
              </div>
            </div>
            <div class="widget_ab_item m-top-30">
              <div class="item_icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="widget_ab_item_text">
                <h6 class="text-white">Phone :</h6>
                <p>+1 2345 6789</p>
              </div>
            </div>
            <div class="widget_ab_item m-top-30">
              <div class="item_icon">
                <i class="fa fa-envelope-o"></i>
              </div>
              <div class="widget_ab_item_text">
                <h6 class="text-white">Email Address :</h6>
                <p>youremail@mail.com</p>
              </div>
            </div>
          </div>
          <!-- End off widget item -->
        </div>
        <!-- End off col-md-3 -->

        <div class="col-md-3">
          <div class="widget_item widget_latest sm-m-top-50">
            <h5 class="text-white">Latest News</h5>
            <div class="widget_latst_item m-top-30">
              <div class="item_icon">
                <img src="assets/images/ltst-img-1.jpg" alt="" />
              </div>
              <div class="widget_latst_item_text">
                <p>Lorem ipsum dolor sit amet, consectetur</p>
                <a href="">21
                  <sup>th</sup> July 2016</a>
              </div>
            </div>
            <div class="widget_latst_item m-top-30">
              <div class="item_icon">
                <img src="assets/images/ltst-img-2.jpg" alt="" />
              </div>
              <div class="widget_latst_item_text">
                <p>Lorem ipsum dolor sit amet, consectetur</p>
                <a href="">21
                  <sup>th</sup> July 2016</a>
              </div>
            </div>
            <div class="widget_latst_item m-top-30">
              <div class="item_icon">
                <img src="assets/images/ltst-img-3.jpg" alt="" />
              </div>
              <div class="widget_latst_item_text">
                <p>Lorem ipsum dolor sit amet, consectetur</p>
                <a href="">21
                  <sup>th</sup> July 2016</a>
              </div>
            </div>
          </div>
          <!-- End off widget item -->
        </div>
        <!-- End off col-md-3 -->

        <div class="col-md-3">
          <div class="widget_item widget_service sm-m-top-50">
            <h5 class="text-white">Latest News</h5>
            <ul class="m-top-20">
              <li class="m-top-20">
                <a href="#">
                  <i class="fa fa-angle-right"></i> Web Design</a>
              </li>
              <li class="m-top-20">
                <a href="#">
                  <i class="fa fa-angle-right"></i> User Interface Design</a>
              </li>
              <li class="m-top-20">
                <a href="#">
                  <i class="fa fa-angle-right"></i> Web Hosting</a>
              </li>
              <li class="m-top-20">
                <a href="#">
                  <i class="fa fa-angle-right"></i> Themes</a>
              </li>
              <li class="m-top-20">
                <a href="#">
                  <i class="fa fa-angle-right"></i> Support Forums</a>
              </li>
            </ul>

          </div>
          <!-- End off widget item -->
        </div>
        <!-- End off col-md-3 -->

        <div class="col-md-3">
          <div class="widget_item widget_newsletter sm-m-top-50">
            <h5 class="text-white">Newsletter</h5>
            <form class="form-inline m-top-30">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter you Email">
                <button type="submit" class="btn text-center">
                  <i class="fa fa-arrow-right"></i>
                </button>
              </div>

            </form>
            <div class="widget_brand m-top-40">
              <a href="" class="text-uppercase">Ideal Bazar</a>
              <p>Lorem ipsum dolor sit amet consec tetur adipiscing elit nulla aliquet pretium nisi in</p>
            </div>
            <ul class="list-inline m-top-20">
              <li>-
                <a href="">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>

          </div>
          <!-- End off widget item -->
        </div>
        <!-- End off col-md-3 -->
      </div>
    </div>
  </div>

</footer>
<div class="main_footer fix bg-mega text-center p-top-40 p-bottom-30 m-top-80">
  <div class="col-md-12 footerSmall">
    <p class="wow fadeInRight" data-wow-duration="1s">
      Copyright by
      <a target="_blank" href="">Ideal Bazar</a>
      2018. All Rights Reserved
    </p>
  </div>
</div>
