@charset "utf-8";

/* CSS Document */


/******************************

COLOR PALETTE




[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Home
	3.1 Currency
	3.2 Language
	3.3 Account
	3.4 Main Navigation
	3.5 Hamburger Menu
	3.6 Logo
	3.7 Main Slider
4. Banner
5. New Arrivals
	5.1 New Arrivals Sorting
	5.2 New Arrivals Products Grid
6. Deal of the week
7. Best Sellers
	7.1 Slider Nav
8. Benefit
9. Blogs
10. Newsletter
11. Footer



******************************/


/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');

/*********************************
2. Body and some general stuff
*********************************/

* {
  margin: 0;
  padding: 0;
}

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
  color: #989898;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a {
  display: inline;
  position: relative;
  color: inherit;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #282828;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

::-webkit-input-placeholder {
  font-size: 16px !important;
  font-weight: 500;
  color: #777777 !important;
}

:-moz-placeholder
/* older Firefox*/

{
  font-size: 16px !important;
  font-weight: 500;
  color: #777777 !important;
}

::-moz-placeholder
/* Firefox 19+ */

{
  font-size: 16px !important;
  font-weight: 500;
  color: #777777 !important;
}

:-ms-input-placeholder {
  font-size: 16px !important;
  font-weight: 500;
  color: #777777 !important;
}

::input-placeholder {
  font-size: 16px !important;
  font-weight: 500;
  color: #777777 !important;
}

section {
  display: block;
  position: relative;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.trans_200 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.trans_300 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.trans_400 {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

.trans_500 {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.fill_height {
  height: 100%;
}

.super_container {
  width: 100%;
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
}


/*********************************
3. Home
*********************************/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  z-index: 10;
}

.top_nav {
  width: 100%;
  height: 50px;
  background: #1e1e27;
}

.top_nav_left {
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  color: #b5aec4;
  text-transform: uppercase;
}


/*********************************
3.1 Currency
*********************************/

.currency {
  display: inline-block;
  position: relative;
  min-width: 50px;
  border-right: solid 1px #33333b;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  vertical-align: middle;
  background: #1e1e27;
}

.currency>a {
  display: block;
  color: #b5aec4;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  text-transform: uppercase;
}

.currency>a>i {
  margin-left: 8px;
}

.currency:hover .currency_selection {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.currency_selection {
  display: block;
  position: absolute;
  right: 0;
  top: 120%;
  margin: 0;
  width: 100%;
  background: #FFFFFF;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: all 0.3s ease;
}

.currency_selection li {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 50px;
}

.currency_selection li a {
  display: block;
  color: #232530;
  border-bottom: solid 1px #dddddd;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: all 0.3s ease;
}

.currency_selection li a:hover {
  color: #b5aec4;
}

.currency_selection li:last-child a {
  border-bottom: none;
}


/*********************************
3.2 Language
*********************************/

.language {
  display: inline-block;
  position: relative;
  min-width: 50px;
  border-right: solid 1px #33333b;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  vertical-align: middle;
  background: #1e1e27;
}

.language>a {
  display: block;
  color: #b5aec4;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
}

.language>a>i {
  margin-left: 8px;
}

.language:hover .language_selection {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.language_selection {
  display: block;
  position: absolute;
  right: 0;
  top: 120%;
  margin: 0;
  width: 100%;
  background: #FFFFFF;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: all 0.3s ease;
}

.language_selection li {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 50px;
}

.language_selection li a {
  display: block;
  color: #232530;
  border-bottom: solid 1px #dddddd;
  font-size: 13px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: all 0.3s ease;
}

.language_selection li a:hover {
  color: #b5aec4;
}

.language_selection li:last-child a {
  border-bottom: none;
}


/*********************************
3.3 Account
*********************************/

.account {
  display: inline-block;
  position: relative;
  min-width: 50px;
  padding-left: 20px;
  text-align: center;
  vertical-align: middle;
  background: #1e1e27;
}

.account>a {
  display: block;
  color: #b5aec4;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
}

.account>a>i {
  margin-left: 8px;
}

.account:hover .account_selection {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.account_selection {
  display: block;
  position: absolute;
  right: 0;
  top: 120%;
  margin: 0;
  width: 100%;
  background: #FFFFFF;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: all 0.3s ease;
}

.account_selection li {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 50px;
}

.account_selection li a {
  display: block;
  color: #232530;
  border-bottom: solid 1px #dddddd;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.account_selection li a:hover {
  color: #b5aec4;
}

.account_selection li:last-child a {
  border-bottom: none;
}

.account_selection li a i {
  margin-right: 10px;
}


/*********************************
3.4 Main Navigation
*********************************/

.main_nav_container {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}

.navbar {
  width: auto;
  height: 100px;
  float: right;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar_menu li {
  display: inline-block;
}

.navbar_menu li a {
  display: block;
  color: #1e1e27;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.navbar_menu li a:hover {
  color: #b5aec4;
}

.navbar_user {
  margin-left: 37px;
}

.navbar_user li {
  display: inline-block;
  text-align: center;
}

.navbar_user li a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  color: #1e1e27;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.navbar_user li a:hover {
  color: #b5aec4;
}

.checkout a {
  background: #eceff6;
  border-radius: 50%;
}

.checkout_items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -9px;
  left: 22px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fe4c50;
  font-size: 12px;
  color: #FFFFFF;
}


/*********************************
3.5 Hamburger Menu
*********************************/

.hamburger_container {
  display: none;
  margin-left: 40px;
}

.hamburger_container i {
  font-size: 24px;
  color: #1e1e27;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.hamburger_container:hover i {
  color: #b5aec4;
}

.hamburger_menu {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  z-index: 10;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.hamburger_menu.active {
  right: 0;
}

.fs_menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background: rgba(255, 255, 255, 0);
  pointer-events: none;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.hamburger_close {
  position: absolute;
  top: 26px;
  right: 10px;
  padding: 10px;
  z-index: 1;
}

.hamburger_close i {
  font-size: 24px;
  color: #1e1e27;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.hamburger_close:hover i {
  color: #b5aec4;
}

.hamburger_menu_content {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  padding-right: 20px;
}

.menu_item {
  display: block;
  position: relative;
  border-bottom: solid 1px #b5aec4;
  vertical-align: middle;
}

.menu_item>a {
  display: block;
  color: #1e1e27;
  font-weight: 500;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  text-transform: uppercase;
}

.menu_item>a:hover {
  color: #b5aec4;
}

.menu_item>a>i {
  margin-left: 8px;
}

.menu_item.active .menu_selection {
  display: block;
  visibility: visible;
  opacity: 1;
}

.menu_selection {
  margin: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu_selection li {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 50px;
}

.menu_selection li a {
  display: block;
  color: #232530;
  border-bottom: solid 1px #dddddd;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: all 0.3s ease;
}

.menu_selection li a:hover {
  color: #b5aec4;
}

.menu_selection li:last-child a {
  border-bottom: none;
}


/*********************************
3.6 Logo
*********************************/

.logo_container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 15px;
}

.logo_container a {
  font-size: 24px;
  color: #1e1e27;
  font-weight: 700;
  text-transform: uppercase;
}

.logo_container a span {
  color: #fe4c50;
}


/*********************************
3.7 Main Slider
*********************************/

.main_slider {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 150px;
}

.main_slider_content {
  width: 60%;
}

.main_slider_content h6 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.main_slider_content h1 {
  font-weight: 400;
  line-height: 1;
}

.red_button {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
  background: #fe4c50;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.red_button:hover {
  background: #FE7C7F !important;
}

.red_button a {
  display: block;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  width: 100%;
}

.shop_now_button {
  width: 140px;
  margin-top: 32px;
}


/*********************************
4. Banner
*********************************/

.banner {
  width: 100%;
  margin-top: 30px;
  h2 {
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .men {
    margin-right: 10px;
  }
  .women {
    margin-left: 10px;
  }
}

.banner_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 265px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner_category {
  height: 50px;
  color: #FFFFFF;
  background: #343a40;
  min-width: 180px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 3px;
}

.banner_category a {
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  width: 100%;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.banner_category a:hover {
  color: #b5aec4;
}


/*********************************
5. New Arrivals
*********************************/

.new_arrivals {
  width: 100%;
  h2 {
    font-size: 35px;
  }
}

.new_arrivals_title {
  margin-top: 74px;
}


/*********************************
5.1 New Arrivals Sorting
*********************************/

.new_arrivals_sorting {
  display: inline-block;
  border-radius: 3px;
  margin-top: 59px;
  overflow: visible;
}

.grid_sorting_button {
  height: 40px;
  min-width: 102px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  border: solid 1px #ebebeb;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background: #FFFFFF;
  border-radius: 3px;
  margin: 0;
  float: left;
  margin-left: -1px;
}

.grid_sorting_button:first-child {
  margin-left: 0px;
}

.grid_sorting_button:last-child {}

.grid_sorting_button.active:hover {
  background: #343a40 !important;
}

.grid_sorting_button.active {
  color: #FFFFFF;
  background: #343a40;
}


/*********************************
5.2 New Arrivals Products Grid
*********************************/

.product-grid {
  width: 100%;
  margin-top: 57px;
}

.product-item {
  width: 20%;
  height: 380px;
  cursor: pointer;
}

.product-item::after {
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: calc(100% + 1px);
  height: 100%;
  pointer-events: none;
  content: '';
  border: solid 2px rgba(235, 235, 235, 0);
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-item:hover::after {
  box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
  border: solid 2px rgba(235, 235, 235, 1);
}

.product {
  width: 100%;
  height: 340px;
  border-right: solid 1px #e9e9e9;
}

.product_image {
  width: 100%;
}

.product_image img {
  width: 100%;
}

.product_info {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.product_name {
  margin-top: 27px;
}

.product_name a {
  color: #1e1e27;
  line-height: 20px;
}

.product_name:hover a {
  color: #b5aec4;
}

.discount .product_info .product_price {
  font-size: 14px;
}

.product_price {
  font-size: 16px;
  color: #fe4c50;
  font-weight: 600;
}

.product_price span {
  font-size: 12px;
  margin-left: 10px;
  color: #b5aec4;
  text-decoration: line-through;
}

.product_bubble {
  position: absolute;
  top: 15px;
  width: 50px;
  height: 22px;
  border-radius: 3px;
  text-transform: uppercase;
}

.product_bubble span {
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
}

.product_bubble_right::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 6px;
  right: auto;
  top: auto;
  bottom: -6px;
  border: 6px solid;
}

.product_bubble_left::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 6px;
  bottom: -6px;
  border: 6px solid;
}

.product_bubble_red::after {
  border-color: transparent transparent transparent #fe4c50;
}

.product_bubble_left::after {
  border-color: #51a042 #51a042 transparent transparent;
}

.product_bubble_red {
  background: #fe4c50;
}

.product_bubble_green {
  background: #51a042;
}

.product_bubble_left {
  left: 15px;
}

.product_bubble_right {
  right: 15px;
}

.add_to_cart_button {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.add_to_cart_button a {
  font-size: 12px;
  font-weight: 600;
}

.product-item:hover .add_to_cart_button {
  visibility: visible;
  opacity: 1;
}

.favorite {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #b9b4c7;
  width: 17px;
  height: 17px;
  visibility: hidden;
  opacity: 0;
}

.favorite_left {
  left: 15px;
}

.favorite.active {
  visibility: visible;
  opacity: 1;
}

.product-item:hover .favorite {
  visibility: visible;
  opacity: 1;
}

.favorite.active::after {
  font-family: 'FontAwesome';
  content: '\f004';
  color: #fe4c50;
}

.favorite::after {
  font-family: 'FontAwesome';
  content: '\f08a';
}

.favorite:hover::after {
  color: #fe4c50;
}

.new_arrivals_sorting {
  margin-bottom: 25px;
}

.card {
  text-align: center;
  margin: 5px;
  margin-top: 15px;
  max-height: 373px;
  position: relative;
  .card-product {
    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-size: 17px;
    font-weight: 600;
    color: #696565;
  }
  .card-img-top {
    height: 210px;
  }
  .card-price {
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
    color: #000;
    position: relative;
    bottom: 0;
  }
  .btn {
    width: 100%;
    height: 38px;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 600;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background: #ED2;
}


/* cell number */

.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.controls-top {
  .btn-floating {
    position: absolute !important;
    top: 50% !important;
    width: 44px !important;
    height: 44px !important;
    border: none !important;
    border-radius: 50% !important;
    background: #fff !important;
    background: hsla(0, 0%, 100%, .75) !important;
    cursor: pointer !important;
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    .fa {
      position: absolute;
      bottom: 14px;
      left: 17px;
    }
  }
}


/*********************************
7. Best Sellers
*********************************/

.product_slider_container {
  width: 100%;
  height: 340px;
  margin-top: 73px;
}

.product_slider_container::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #FFFFFF;
  content: '';
  z-index: 1;
}

.product_slider {
  overflow: visible !important;
}

.product_slider_item .product-item {
  height: 340px;
}

.product_slider_item {
  width: 20%;
}

.product_slider_item .product-item {
  width: 100% !important;
}


/*********************************
7.1 Slider Nav
*********************************/

.product_slider_nav {
  position: absolute;
  width: 30px;
  height: 70px;
  background: #d3d3d6;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.product_slider_container:hover .product_slider_nav {
  visibility: visible;
  opacity: 1;
}

.product_slider_nav i {
  color: #FFFFFF;
  font-size: 12px;
}

.product_slider_nav_left {
  top: 50%;
  left: 0;
}

.product_slider_nav_right {
  top: 50%;
  right: 0;
}


/*********************************
8. Benefit
*********************************/

.benefit {
  margin-top: 74px;
}

.benefit_row {
  padding-left: 15px;
  padding-right: 15px;
}

.benefit_col {
  padding-left: 0px;
  padding-right: 0px;
}

.benefit_item {
  height: 100px;
  background: #f3f3f3;
  border-right: solid 1px #FFFFFF;
  padding-left: 25px;
}

.benefit_col:last-child .benefit_item {
  border-right: none;
}

.benefit_icon i {
  font-size: 30px;
  color: #343a40;
}

.benefit_content {
  padding-left: 22px;
}

.benefit_content h6 {
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 0px;
}

.benefit_content p {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0px;
  color: #51545f;
}
