<app-carousel-config></app-carousel-config>


<app-toast [message]="toast.message"></app-toast>

<div class="super_container">

  <!-- Banner -->

  <div class="banner">
    <div class="container">
      <div class="row">
        <h2 class="text-center category">CHOOSE YOUR CATEGOREY</h2>
        <div class="col-md-6">
          <div class="banner_item align-items-center men" style="background-image:url(assets/images/banner_3.jpg)">
            <a href="">
              <div class="banner_category">
                <a>men's</a>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="banner_item align-items-center women" style="background-image:url(assets/images/banner_1.jpg)">
            <a href="">
              <div class="banner_category">
                <a>women's</a>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- New Arrivals -->

  <div class="new_arrivals">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="section_title new_arrivals_title">
            <h2>OUR AWESOME PRODUCTS</h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col text-center">
          <div class="new_arrivals_sorting">
            <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
              <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
              <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".men">men's</li>
              <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".women">women's</li>
              <!-- <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".accessories">accessories</li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!isLoading" >


        <div class="col-sm-3" *ngFor="let product of products;let i=index">
          <div class="card">
            <img class="card-img-top" src="https://img.webnots.com/2017/04/Bootstrap-Card-Image.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-product">
                <a>{{product.name}} - {{product.description}}</a>
              </h4>
              <p class="card-price">Rs. {{product.price}}/-</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-dark" (click)="addToCart(i)" >ADD TO CART</button>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="https://img.webnots.com/2017/04/Bootstrap-Card-Image.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-product">
                <a>HP Notebook 14 Core i5 8GB 750GB</a>
              </h4>
              <p class="card-price">Rs. 50,000/-</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-dark">ADD TO CART</button>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="https://img.webnots.com/2017/04/Bootstrap-Card-Image.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-product">HP Notebook 14 Core i5 8GB 750GB</h4>
              <p class="card-price">Rs. 50,000/-</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-dark">ADD TO CART</button>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="https://img.webnots.com/2017/04/Bootstrap-Card-Image.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-product">HP Notebook 14 Core i5 8GB 750GB</h4>
              <p class="card-price">Rs. 50,000/-</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-dark">ADD TO CART</button>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="https://img.webnots.com/2017/04/Bootstrap-Card-Image.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-product">HP Notebook 14 Core i5 8GB 750GB</h4>
              <p class="card-price">Rs. 50,000/-</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-dark">ADD TO CART</button>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="https://img.webnots.com/2017/04/Bootstrap-Card-Image.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-product">HP Notebook 14 Core i5 8GB 750GB</h4>
              <p class="card-price">Rs. 50,000/-</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-dark">ADD TO CART</button>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="https://img.webnots.com/2017/04/Bootstrap-Card-Image.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-product">HP Notebook 14 Core i5 8GB 750GB</h4>
              <p class="card-price">Rs. 50,000/-</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-dark">ADD TO CART</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Carousel Wrapper-->
  <!-- <mdb-carousel class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
    <mdb-slide>
      <div class="col-md-3">
        <div class="card">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 clearfix d-none d-md-block">
        <div class="card">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 clearfix d-none d-md-block">
        <div class="card">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
          </div>
        </div>
      </div>
    </mdb-slide>

    <mdb-slide>
      <div class="col-md-3">
        <div class="card">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(60).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(60).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 clearfix d-none d-md-block">
        <div class="card">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(47).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 clearfix d-none d-md-block">
        <div class="card">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(48).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
          </div>
        </div>
      </div>
    </mdb-slide>

    <mdb-slide>
      <div class="col-md-3">
        <div class="card">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 clearfix d-none d-md-block">
        <div class="card">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 clearfix d-none d-md-block">
        <div class="card">
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(51).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary waves-light" mdbRippleRadius>Button</a>
          </div>
        </div>
      </div>
    </mdb-slide>

  </mdb-carousel> -->
  <!--/.Carousel Wrapper -->
 

  <!-- Benefit -->

  <div class="benefit">
    <div class="container">
      <div class="row benefit_row">
        <div class="col-lg-3 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon">
              <i class="fa fa-truck" aria-hidden="true"></i>
            </div>
            <div class="benefit_content">
              <h6>free shipping</h6>
              <p>Suffered Alteration in Some Form</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon">
              <i class="fa fa-money" aria-hidden="true"></i>
            </div>
            <div class="benefit_content">
              <h6>cash on delivery</h6>
              <p>The Internet Tend To Repeat</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon">
              <i class="fa fa-undo" aria-hidden="true"></i>
            </div>
            <div class="benefit_content">
              <h6>45 days return</h6>
              <p>Making it Look Like Readable</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </div>
            <div class="benefit_content">
              <h6>opening all week</h6>
              <p>8AM - 09PM</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>