<div class="back-image">
  <div class="cart">
    <div class="heading">
      <h1 class="text-center">SHOPPING CART</h1>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="col-sm-8">

    <table class="table table-responsive">
      <thead>
        <tr>
          <th>PRODUCT</th>
          <th>PRICE</th>
          <th>QUANTITY</th>
          <th>SUB TOTAL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let item of cartProducts; let i=index">
          <td>
            <img src="../../assets/images/signup.jpg" alt="">
            <div class="display-inlineblock">
              <h5>{{item.name}} {{item.description}}</h5>
              <h6>
                <span>SKU:</span> 123456</h6>
            </div>
          </td>
          <td>Rs. {{item.price}}/-</td>
          <td>
            <input class="form-control" type="number" (change)="updateTotal()" [(ngModel)]="item.qt">
          </td>
          <td>Rs. {{item.price*item.qt}}/-</td>
          <td>
            <a style="cursor : pointer;" (click)="removeItem(i)"><i class="fa fa-lg fa-trash"></i></a>  
          </td>
        </tr>



        <tr>
          <td>
            <img src="../../assets/images/signup.jpg" alt="">
            <div class="display-inlineblock">
              <h5>HP 14 Notebook 750GB 8gb</h5>
              <h6>
                <span>SKU:</span> 123456</h6>
            </div>
          </td>
          <td>Rs. 50,000/-</td>
          <td>
            <input class="form-control" type="number">
          </td>
          <td>Rs. 50,000/-</td>
          <td>
            <i class="fa fa-lg fa-trash"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="bar">
      <span class="pull-left">
        <button class="btn" (click)="clearItems()">
          <i class="fa fa-trash-o"></i> &nbsp; EMPTY CART</button>
      </span>
      <span class="pull-right">
        <button class="btn" routerLink="/">
          <i class="fa fa-shopping-bag"></i> &nbsp; CONTINUE SHOPPING</button>
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="box">
      <div class="discount">
        <span>
          DISCOUNT CODES
          <input type="text">
          <button class="btn">
            <i class="fa fa-check"></i> APPLY</button>
        </span>
      </div>

      <div class="total">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Subtotal</th>
              <td>Rs. {{bill}}/-</td>
            </tr>
            <tr>
              <th scope="row">Delivery Charges</th>
              <td>Rs. 150/-</td>
            </tr>
            <tr class="total-price">
              <th scope="row">
                <h5>GRAND TOTAL</h5>
                </th>
              <td class="price">Rs. {{bill + 150}}/-</td>
            </tr>
          </tbody>
        </table>

        <a class="btn pull-right" routerLink="/checkout">
          <i class="fa fa-shopping-cart"></i>&nbsp; PROCEED TO CHECKOUT</a>
      </div>
    </div>
  </div>
</div>
