<div class="back-image">
  <div class="cart">
    <div class="heading">
      <h1 class="text-center">CHECKOUT DETAILS</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="return">
    <p>Returning customer?
      <a routerLink="/login">Click here to login</a>
    </p>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <h3>BILLING DETAILS</h3>
      <div class="form-group">
        <label>First Name (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>Last Name (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>Company Name</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>Email Address (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>Cell Number (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>City (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>Your Address (Required)</label>
        <br>
        <textarea class="form-control" name="" id="" cols="30" rows="2"></textarea>
      </div>
      <div class="form-group">
        <label>Town (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>State (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label>Zip Code (Required)</label>
        <br>
        <input class="form-control" type="text">
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox"> Create an Account
        </label>
      </div>
      <h3>ADDITIONAL INFORMATION</h3>
      <div class="form-group">
        <label>Order Notes</label>
        <br>
        <textarea class="form-control" name="" id="" cols="30" rows="2" placeholder="Notes about your order. e.g. special notes for delivery."></textarea>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="row">
        <div class="text-center">
          <h2>Your Order</h2>
        </div>
        

        <table class="table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Qty.</th>
              <th>Price (Rs.)</th>
              <th>Total (Rs.)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">HP Notebook 14 (Core i3)</th>
              <td>2</td>
              <td>45,000/-</td>
              <td>90,000/-</td>
            </tr>
            <tr>
              <th scope="row">HP Notebook 14 (Core i5)</th>
              <td>1</td>
              <td>45,000/-</td>
              <td>45,000/-</td>
            </tr>
            <tr>
              <th scope="row">HP Notebook 15 (Core i7)</th>
              <td>3</td>
              <td>45,000/-</td>
              <td>135,000/-</td>
            </tr>
          </tbody>
        </table>

        

        <div class="total">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Subtotal</th>
                <td>Rs. 50,000/-</td>
              </tr>
              <tr>
                <th scope="row">Delivery Charges</th>
                <td>Rs. 150/-</td>
              </tr>
              <tr class="total-price">
                <th scope="row">
                  <h4>GRAND TOTAL</h4>
                </th>
                <td class="price">Rs. 270,200/-</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> &nbsp; I've read and accept the
            <a href="">Terms & Conditions.</a>
          </label>
        </div>
        <button type="button" class="btn btn-success btn-lg btn-block">
          PLACE ORDER
        </button>
      </div>
    </div>
  </div>
</div>
