.back-image {
  height: 200px;
  .account {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/apple.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .heading {
      height: inherit;
      h1 {
        top: 5.7%;
        left: 1%;
        width: 98%;
        position: relative;
        text-align: center;
        background-color: rgba(43, 42, 42, 0.7);
        color: #ffffff;
        line-height: 2.3;
        padding: 34px;
        font-size: 3em;
        margin: 0px;
      }
    }
  }
}

.row {
  .container {
    h4 {
      margin-top: 45px;
      font-weight: 700;
    }
    .form-control{
      width: 96%;
    }
    .btn-submit {
      margin-left: auto !important;
      margin-right: auto !important;
      font-weight: 600;
      color: #ffffff;
      background-color: #444444;
      padding-left: 25px;
      padding-right: 25px;
      margin-bottom: 25px;
      display: inherit;
    }
    .gender{
      width: 100%;
      border-radius: 0px;
    }
    form {
      input,
      select {
        background-color: rgba(249, 249, 249, 1);
      }
      .col-sm-2 {
        text-align: center;
        
      }
    }
    .col-sm-12,
    .col-sm-6 {
      padding-left: 0px;
    }
  }
}
