



<!-- <div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Account settings</h4>
  <div class="card-block">
    <form #accountForm="ngForm" (ngSubmit)="save(user)">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input class="form-control" type="text" name="username" [(ngModel)]="user.username" placeholder="Username" required>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input class="form-control" type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required>
      </div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-black-tie"></i></span>
        <select class="form-control" name="role" [(ngModel)]="user.role">
          <option value="" disabled>Role</option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!accountForm.form.valid">
        <i class="fa fa-save"></i> Save
      </button>
    </form>
  </div>
</div> -->

<div class="back-image">
  <div class="account">
    <div class="heading">
      <h1 class="text-center">ACCOUNT</h1>
    </div>
  </div>
</div>

<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>


<div class="row" *ngIf="!isLoading">
  <div class="container">
    <h4>ACCOUNT SETTINGS</h4>
    <form [formGroup]="registerForm" (ngSubmit)="save(user)">
      <div class="col-sm-6" [ngClass]="setClassFirstname()">
        <input class="form-control" type="text" name="fname" formControlName="fname" [(ngModel)]="user.fname" placeholder="First Name">
      </div>
      <div class="col-sm-6" [ngClass]="setClassLastname()">
        <input class="form-control" type="text" name="lname" formControlName="lname" [(ngModel)]="user.lname" placeholder="Last Name">
      </div>
      <br>
      <br>
      <div class="col-sm-12">
        <select class="form-control gender" name="gender" formControlName="gender" [(ngModel)]="user.gender">
          <option value="" selected disabled>Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <br>
      <br>
      <div class="col-sm-6" [ngClass]="setClassUsername()">
        <input class="form-control" type="text" name="username" formControlName="username" [(ngModel)]="user.username" placeholder="Username">
      </div>
      <div class="col-sm-6" [ngClass]="setClassEmail()">
        <input class="form-control" type="email" name="email" formControlName="email" [(ngModel)]="user.email" placeholder="Email" #email>
      </div>
      <br>
      <br>
      <div class="col-sm-6" [ngClass]="setClassPassword()">
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
      </div>
      <div class="col-sm-6" [ngClass]="setClassConfirmPassword()">
        <input class="form-control" type="password" placeholder="Confirm Password" formControlName="confirmPassword" #confirmPassword>
        <span *ngIf="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']">Passwords do not match</span>
      </div>
      <!-- <br>
      <br>
      <div class="col-sm-12">
        <select class="form-control" name="role" formControlName="role" [(ngModel)]="user.role">
          <option value="" selected disabled>Role</option>
          <option value="user">User</option>
          <option value="admin">Admin</option>
        </select>
      </div> -->
      <br> 
      <br>
      <br>
      <div class="col-sm-12">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <button class="btn btn-submit" type="submit" [disabled]="!registerForm.valid">SAVE CHANGES</button>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </form>
  </div>
</div>
