.back-image {
  height: 200px;
  margin-bottom: 55px;
  .login {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/signup.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .heading {
      height: inherit;
      h1 {
        top: 5.7%;
        left: 1%;
        width: 98%;
        position: relative;
        text-align: center;
        background-color: rgba(43, 42, 42, 0.7);
        color: #ffffff;
        line-height: 2.3;
        padding: 34px;
        font-size: 3em;
        margin: 0px;
      }
    }
  }
}

.container-fluid {
  form {
    input {
      background-color: rgba(249, 249, 249, 1);
      margin-bottom: 15px;
    }
    .btn {
      margin-bottom: 15px;
      color: #ffffff;
      font-weight: 600;
    }
    .col-sm-4 {
      .btn-fb {
        width: 100%;
        padding-top: 10px;
        background-color: #3d589d;
      }
      .btn-google {
        width: 100%;
        padding-top: 10px;
        background-color: #df4336;
      }
    }
    .btn-login {
      background-color: #444444; // padding-left : 25px;
      // padding-right : 25px;
    }
  }
}
